server {
    listen 80;
    server_name ${NGINX_HOST};

    location / {
        return 301 https://$host$request_uri;
    }    
}
server {
    listen 443 ssl;
    server_name ${NGINX_HOST};
    ssl_certificate /etc/nginx/certs/zeehon.us.crt;
    ssl_certificate_key /etc/nginx/certs/zeehon.us.key;
    
    location /converter/api/ {
        proxy_pass http://apiservice:8080/api/;
    }

    location /converter/ {
        proxy_pass http://webgui:8080/;
    }
}
