server {
    listen ${NGINX_PORT};
    server_name zeehon.us;

    location /api/ {
        proxy_pass "http://apiservice:8000/";
    }

    location /converter/ {
        proxy_pass "http://webgui:8000/";
    }
}