server {
    listen ${NGINX_PORT};
    server_name zeehon.us;

    location /converter/api/ {
        proxy_pass http://apiservice:8080/api/;
    }

    location /converter/ {
        proxy_pass http://webgui:8080/;
    }
}
